# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
.env

# Ignore Streamlit logs & cache
.streamlit/
logs/
cache/


# Ignore Streamlit deployment secrets
secrets.toml

# Ignore system files
.DS_Store
Thumbs.db
